//colors
$bg-color : #fff;
$font-weight:200;
$border-radius: 3px;
$base-text-color: #343434;
//btn default
$btn-default-color: $base-text-color;
$btn-default-bg: #ffffff;
$btn-default-border: #c3c3c3;
//btn green
$btn-green-color: #fff;
$btn-green-bg: #54c95c;
$btn-green-border: #35af3e;
//btn red
$btn-red-color: #fff;
$btn-red-bg: #e01010;
$btn-red-border: #b01515;
//btn blue
$btn-blue-color: #fff;
$btn-blue-bg: #278aba;
$btn-blue-border: #166c96;
//btn purple
$btn-purple-color: #fff;
$btn-purple-bg: #982fbd;
$btn-purple-border: #711a90;
//btn orange
$btn-orange-color: #fff;
$btn-orange-bg: #FF9900;
$btn-orange-border: #c44f0d;
